<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Help Page</title>
	<th:block th:include="addscripts"></th:block>
</head>

<body>
	<!-- Include _menu.html -->
	<th:block th:include="_menu"></th:block>

	<div id="submenu">

	</div>
	<div id="htmlRed">

	</div>

	<script th:inline="javascript">
		var allPages = /*[[${allPages}]]*/ null;
		var allHelpPages = /*[[${allHelpPages}]]*/ null;
		var helpBoxText = /*[[${helpBox}]]*/ null;

		
	</script>
</body>

</html>