<th:block th:if="${#request.userPrincipal != null}">
  <div>
    <div>
      <div id="menuCore">
        <th:block th:each="mapItem : ${menuList}">
          <a th:href="@{${mapItem.url}}" th:utext="${mapItem.urlName}"> </a>
        </th:block>
        <div id="logout">
                <a href="/logout">Logout</a>
        </div>
      </div>



    <div class = "mobile_menu">
        <input type="checkbox" id = "ch" name="checkBurger" class="menuburger" value="Cl"/>
        <label class = "checkBoxLabel" for="ch"> Click! </label>
        <div class = "hiddenBurgerLinks">
        <th:block th:each="mapItem : ${menuList}">
          <li><a th:href="@{${mapItem.url}}" th:utext="${mapItem.urlName}"> </a> </li>  
        </th:block>
        <li>  <a href="/logout">Logout</a> </li>
        </div>
    </div>
  </div>

  </div>
</th:block>

<th:block th:if="${#request.userPrincipal == null}">
      <div>
        <div id="menuCore">
          <div id="login">
            <a href="/login">Login</a>
          </div>
        </div>
        <div class = "mobile_menu">
          <input type="checkbox" id = "ch" name="checkBurger" class="menuburger" value="Cl"/>
          <label class = "checkBoxLabel" for="ch"> Click! </label>
          <li>  <a href="/logout">Logout</a> </li>
        </div>
    </div>
</th:block>