<div xmlns:th="http://www.thymeleaf.org" style="border-bottom: 1px solid #ccc;padding:5px;margin-bottom:20px;">
  <div id="menuCore">
      <th:block th:if="${#request.userPrincipal != null}">
       <th:block th:each="mapItem : ${menuList}">
                
          <a th:href="@{${mapItem.url}}" th:utext="${mapItem.urlName}"> </a>
       </th:block>
       <span id = "menuRightSide" class = "pull-right">
         <button th:if="${helpBox != null}" class = "btn btn-default" onclick="helpBox.drawHelp(helpBoxText)">?</button>
       <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
       </span>
  </th:block>
    <a th:href="@{/about}">About</a>
  <th:block th:if="${#request.userPrincipal == null}">
       <a th:href="@{/login}">Login</a>
  </th:block>
  
</div>
  
</div>