<!--CSS-->
<link rel="stylesheet" href="/App/css/bootstrap.css">
<link rel="stylesheet" href="/App/css/bootstrap-select.css">
<link rel="stylesheet" href="/App/css/datatables.css">
<link rel="stylesheet" href="/App/css/font-awesome.min.css">
<link rel="stylesheet" href="/App/css/highcharts.css">
<link rel="stylesheet" href="/App/css/jquery-growl.css">
<link rel="stylesheet" href="/App/css/style.css">
<!--Scripts-->
<script src = "/App/js/jquery-3.4.1.js"></script>
<script src = "/App/js/bootstrap.js"></script>
<script src = "/App/js/highcharts.js"></script>
<script src = "/App/js/jquery-growl.js"></script>
<script src = "/App/js/bootbox.js"></script>
<script src = "/App/js/dataTables.min.js"></script>
<script src = "/App/js/ckeditor/ckeditor.js"></script>
<script src = "/App/js/ckeditor/config.js"></script>
<script src = "/App/js/ckeditor/lang/ru.js"></script>
<script src = "/App/js/common/helpBox.js"></script>
<script src = "/App/js/bootstrap-select.js"></script>