<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <title>Admin Page</title>
   <th:block th:include="addscripts"></th:block>
   <link rel="stylesheet" href="/App/css/modules/admin/admin-page.css">
</head>

<body>
   <!-- Include _menu.html -->
   <th:block th:include="_menu"></th:block>

   <div id="divAlphaUser">
      <button id="createAlphaUser" class="btn btn-info">Create Alpha User</button>
   </div>
   <div id="adminContainer">
      <div class="row">

      </div>
   </div>
   <div id="alphaUserInfo">
   </div>

   <div id="ansible">
      <table id="ansibleTable" class = "table table-bordered">
         <thead>
            <tr>
               <th>
                  GUID
               </th>
               <th>
                  Method
               </th>
               <th>
                  Essence
               </th>
               <th>
                  Description
               </th>
               <th>
                  GUID Value
               </th>
               <th>
                  Datetime
               </th>
               <th>
                  Module
               </th>
               <th>
                  User
               </th>
            </tr>
         </thead>
         <tbody>

         </tbody>
      </table>
   </div>


   <script th:inline="javascript">
      var modules = /*[[${modules}]]*/ null;
      var modulesInformation = /*[[${moduleInformation}]]*/ null;
      var logingUsers = /*[[${logingUsers}]]*/ null;
      var helpBoxText = /*[[${helpBox}]]*/ null;
      var tempTestData = /*[[${tempTestData}]]*/null;

      modules.sort(function (a, b) {
         return a.id - b.id;
      })

      $('#adminContainer .row').empty();

      var str = ""; 

      for (var i in modules) {
         var checked = modules[i].isActive == true ? 'checked' : '';

         str += `<div class = "col-md-3 col-sm-12">`
            + `<h2> ` + modules[i].module + `</h2>`
            + `<input type="checkbox" name="toggle" id="` + modules[i].id + `" class="toggle-button" ` + checked + ` onclick="changeModuleStatus(this)" />`
            + `</div>`;
      }

      $('#adminContainer .row').append(str)

      /*var str = "<table style = 'width:100%'>";

      for (i in modules) {

         var checked = modules[i].isActive == true ? 'checked' : '';

         str += "<tr>" + '<td>' + modules[i].module + '</td>'
            + '<td>' + '<input type="checkbox" name="toggle" id="' + modules[i].id + '" class="toggle-button" ' + checked + ' onclick="changeModuleStatus(this)">' + '</td>' + '</tr>';
      }
      str += "</table>";
      $('#adminContainer').append(str);*/

      function changeModuleStatus(node) {
         $.ajax({
            url: '/admin/changeModuleStatus',
            data: {
               id: node.id
            }
         }).done(function (data) {
            $.growl({ title: "Module status updated", message: data });
         })
      }

      $('#createAlphaUser').on('click', function () {
         var message = `<div> 
									<table style = "border : 0px">
										<tr>
											<td>Login :</td>
											<td><input value = "" placeholder = "Put user name" id = "usernameNewAgent"></td>
										</tr>
										<tr>
											<td>First Name: </td>
											<td><input value = "" placeholder = "Put first Name" id = "firstNameNewAgent"></td>
										</tr>
										<tr> 
											<td>Surname : </td>
											<td> <input value = "" placeholder = "Put surname" id = "surnameNewAgent"></td>
										</tr>
									</table>
                        </div>`;


         bootbox.confirm({
            message: message,
            title: "Add new Alpha-User",
            size: 'large',
            buttons: {
               confirm: {
                  label: "Add new user",
                  className: "btn-success"
               },
               cancel: {
                  label: 'Cancel',
                  className: "btn-danger"
               }
            },
            callback: function (result) {
               if (result) {
                  $.ajax({
                     url: "/admin/createAlphaUser",
                     data: {
                        username: $('#usernameNewAgent').val(),
                        firstName: $('#firstNameNewAgent').val(),
                        surname: $('#surnameNewAgent').val()
                     }
                  }).done(function (data2) {
                     var data = JSON.parse(data2)
                     var inf = `
                        <table>
                           <tr> 
                              <td> User Id </td>
                              <td> ` + data.userId + `</td>
                           </tr>
                           <tr>
                              <td> User Name </td>
                              <td> ` + data.userName + ` </td>
                           </tr>
                           <tr>
                              <td> Password </td>
                              <td> ` + data.encryptedPassword + ` </td>
                           </td>
                           <tr>
                              <td> First Name </td>
                              <td> ` + data.firstName + ` </td>
                           </tr>
                           <tr>
                              <td> Surname </td>
                              <td> ` + data.surname + ` </td>
                           </tr>
                        </table>`;
                     $('#alphaUserInfo').empty().append(inf);
                     console.log(data)
                  }).fail(function (data) {
                     console.log(data)
                  })
               }
            }
         })
      });

      function ansibleUpdate() {
         $.get("/admin/ansible", {

         }).done(function (data) {
            $('#ansibleTable tbody').empty();
            var str = "";
            for (var i in data) {
               str += "<tr><td> " + i + "</td><td>" 
                  + data[i].method + "</td><td>" 
                     + data[i].essence 
                     + "</td><td>" 
                     + data[i].description 
                     + "</td><td><b>" 
                     + data[i].value 
                     + "</b></td><td>" 
                     + data[i].datetime 
                     + "</td><td>" 
                     + data[i].module 
                     + "</td><td>" 
                     + data[i].username 
                     + "</td></tr>";
            }

            $('#ansibleTable tbody').append(str);
         })
      }

      ansibleUpdate();

      setInterval(ansibleUpdate, 1000);
   </script>
</body>

</html>